# Visual Studio 
*.suo
*.user
*.obj
*.pch
*.tlog
*.log
*.scc
*.exp
*.ilk
*.lastbuildstate
ipch
*.sdf
*.opensdf
*.idb
*.vcxproj*
*.sln*

# Windows build products
[Dd]ebug*/
[Rr]elease*/

# OSX/Linux build products
*.mak*
*.xcodeproj/
obj*/
!devtools/*.mak
!utils/smdlexp/smdlexp.mak

# Specific Source build products

*.vpc[._]*

lib/public/**/fgdlib.*
lib/public/**/mathlib.*
lib/public/**/raytrace.*
lib/public/**/tier1.*
lib/public/**/vgui_controls.*
